<!doctype html>
<html lang="en" ng-app="WaterSenseApplication">
<head>
  <meta charset="utf-8">
  <title>Water Sense</title>
  <meta name="description" content="Water Sense - A water quality monitoring system">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="app_url" content="<%= app_url %>"> 
  
  <link rel="shortcut icon" href="favicon.ico">
  <!-- global stylesheets -->
  <link rel="stylesheet" href="<%= app_url %>/styles/bootstrap.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/1.0.0/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="<%= app_url %>/libs/chartist/dist/chartist.min.css">
  <link rel="stylesheet" href="<%= app_url %>/styles/main.css"/>

  <script src="http://maps.google.com/maps/api/js?key=AIzaSyBeaakVhFNakRRl-GTRzbvscsHOk-7L7Bk"></script>
  <script src="<%= app_url %>/libs/jquery/dist/jquery.js"></script>
  <script src="<%= app_url %>/libs/underscore/underscore-min.js"></script>
  <script src="<%= app_url %>/libs/chartist/dist/chartist.min.js"></script>
  
  <script src="<%= app_url %>/libs/amcharts/amcharts.js"></script>
  <script src="<%= app_url %>/libs/amcharts/serial.js"></script>
  <script src="<%= app_url %>/libs/amcharts/none.js"></script>
  <script src="<%= app_url %>/libs/angular/angular.min.js"></script>
  <script src="<%= app_url %>/libs/chartist/dist/angular-chartist.min.js"></script>
  <script src="<%= app_url %>/libs/amcharts/amChartsDirective.js"></script>
  <script src="<%= app_url %>/libs/angular/angular-route.min.js"></script>
  <script src="<%= app_url %>/libs/angular/ng-map.min.js"></script>
  <script src="<%= app_url %>/libs/tether/dist/js/tether.js"></script>
  <script src="<%= app_url %>/libs/bootstrap/dist/js/bootstrap.js"></script>
  <script src="<%= app_url %>/libs/PACE/pace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
  <script src="<%= app_url %>/scripts/components/jquery-fullscreen/jquery.fullscreen-min.js"></script>
  <script src="<%= app_url %>/libs/jquery-storage-api/jquery.storageapi.min.js"></script>
  <script src="<%= app_url %>/libs/wow/dist/wow.min.js"></script>
  <script src="<%= app_url %>/scripts/functions.js"></script>
  <script src="<%= app_url %>/scripts/colors.js"></script>
  <script src="<%= app_url %>/scripts/navbar.js"></script>
  <script src="<%= app_url %>/scripts/horizontal-navigation-1.js"></script>
  <script src="<%= app_url %>/scripts/horizontal-navigation-2.js"></script>
  <script src="<%= app_url %>/scripts/horizontal-navigation-3.js"></script>
  <script src="<%= app_url %>/scripts/main.js"></script>
  <script src="<%= app_url %>/scripts/pages-empty-page.js"></script>
  <script src="<%= app_url %>/js/app.js"></script>
</head>
<body data-layout="empty-layout" data-palette="palette-0">
<nav class="navbar navbar-fixed-top navbar-1">
  <ul class="nav navbar-nav pull-left toggle-layout">
    <li class="nav-item">

      <a class="nav-link" data-click="toggle-layout">
        <i class="zmdi zmdi-menu"></i>
      </a>
    </li>
  </ul>
  <a class="navbar-brand" href="#/">Water Sense</a>
  <ul class="nav navbar-nav pull-left toggle-fullscreen-mode">
    <li class="nav-item">

      <a class="nav-link" data-click="toggle-fullscreen-mode">
        <i class="zmdi zmdi-fullscreen"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 main" id="main" style="margin-top: 60px;">
      <%- body %>
      <div class="footer">
        <div class="row">
          <div class="col-xs-12">
            <a href="http://sp.senac.br" target="_blank">© 2016. Centro Universitário Senac.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
